[package]
name = "contract"
version = "0.1.0"
edition = "2018"

[lib]
crate-type = ["cdylib"]

[dependencies]
candid = "0.7.4"
ic-cdk = "0.4"
ic-cdk-macros = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"